/* variables */

$black: #000000;
$white: #FFFFFF;
$lead: #1e272e;

/* mixins */

@mixin translateY($e) {
	-webkit-transform: translateY($e);
	-moz-transform: translateY($e);
	transform: translateY($e);
}

@mixin transition($e) {
	-webkit-transition: $e;
	-moz-transition: $e;
	transition: $e;
}

