/* variables */
/* mixins */
header {
  position: relative;
  display: block;
  width: 100%;
  background: #1e272e;
  height: 50px;
  color: #FFFFFF; }
  header nav {
    margin: 0;
    padding: 0;
    position: absolute;
    top: 50%;
    right: 15px;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    transform: translateY(-50%); }
    header nav ul li {
      list-style-type: none;
      display: inline-block;
      margin-right: 20px; }
    header nav a {
      font-size: 19px;
      line-height: normal;
      color: #FFFFFF;
      text-decoration: none;
      -webkit-transition: 0.4s ease-in-out;
      -moz-transition: 0.4s ease-in-out;
      transition: 0.4s ease-in-out; }
      header nav a:hover {
        text-decoration: none;
        color: #FDA7DF;
        -webkit-transition: 0.4s ease-in-out;
        -moz-transition: 0.4s ease-in-out;
        transition: 0.4s ease-in-out; }
      @media only screen and (max-width: 500px) {
        header nav a {
          font-size: 15px; } }

.home {
  top: 0;
  width: 100%;
  height: 700px;
  padding: 0;
  background: linear-gradient(rgba(226, 138, 221, 0.45), rgba(255, 203, 221, 0.45), rgba(255, 0, 0, 0.45)), url("../img/playground.jpg") no-repeat center;
  background-size: cover; }
  .home .home-text {
    text-align: center;
    margin-top: 0; }
    .home .home-text .home-name {
      margin: 0;
      padding-top: 140px;
      color: #ffe6ff;
      text-shadow: 0px 1px 5px #000000;
      font-size: 2em; }
    .home .home-text .home-title {
      margin-top: 5px;
      font-size: 1.2em; }

.about {
  margin: 23px;
  position: relative; }
  .about .about-me {
    width: 30%;
    display: inline-block; }
    @media only screen and (max-width: 768px) {
      .about .about-me {
        width: 100%;
        display: block; } }
  .about .unsplash {
    margin: auto;
    margin-top: 19px;
    overflow: auto;
    width: 40%;
    display: inline-block;
    position: absolute;
    top: 0; }
    @media only screen and (max-width: 768px) {
      .about .unsplash {
        width: 100%;
        display: block;
        position: relative; } }
    .about .unsplash button {
      padding: 20px 25px;
      font-size: 25px;
      color: #f8a5c2;
      background-color: transparent;
      border: none;
      outline: none;
      display: inline-block;
      position: relative;
      text-align: center;
      color: #FFFFFF;
      left: 50%;
      transform: translateX(-50%);
      -webkit-transition: 0.4s ease-in-out;
      -moz-transition: 0.4s ease-in-out;
      transition: 0.4s ease-in-out; }
      .about .unsplash button:hover {
        background-color: #833471;
        color: #F8EFBA;
        cursor: pointer;
        -webkit-transition: 0.4s ease-in-out;
        -moz-transition: 0.4s ease-in-out;
        transition: 0.4s ease-in-out; }
    .about .unsplash .randomCatPhoto {
      width: max-content;
      padding-right: 0px;
      margin: auto;
      margin-top: 30px; }
    .about .unsplash img {
      max-width: 300px;
      margin: auto;
      border: 1px solid #000000; }
    .about .unsplash figcaption {
      font-size: small;
      text-align: center; }

.contact {
  margin: 23px; }

body {
  margin: 0;
  background: pink;
  font-family: 'Open Sans', sans-serif; }
